MONGODB_URI=MONGODB_URL
GOOGLE_CLIENT_ID=your_google_client_id_from_cloud_console
GOOGLE_CLIENT_SECRET=your_google_client_secret_from_cloud_console
JWT_SECRET=generate_a_64_char_random_hex_string
JWT_REFRESH_SECRET=generate_another_64_char_random_hex_string
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:9000
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RESEND_API_KEY = RESEND_API_KEY